{{#each post}}
<div class="my-5 pb-5">
<h2 class="postTitle">
    {{this.title}}
</h2>
    <p class="postContent">
        {{this.content}} 
    </p> 

<br>

<div class="authorWrapper row-4">
    <a href="/post/{{this.id}}" >
         <button type="button" class="btn btn-secondary">
            Comment
         </button>

    </a>
        <i class="PostBy col-4 offset-lg-8 offset-md-7">
            <sm>
                {{user.username}}
                {{make_date date_created}}
            </sm>
        </i> 
</div>
</div>
{{/each}}